:root {
    --color-lithium-0: #050505; 
}

.hero-bg {
    background-color: var(--color-lithium-0);
    background-image: radial-gradient(at 27% 37%, hsla(215, 98%, 42%, 0.1) 0px, transparent 50%), radial-gradient(at 97% 21%, hsla(135, 98%, 42%, 0.1) 0px, transparent 50%), radial-gradient(at 52% 99%, hsla(355, 98%, 42%, 0.1) 0px, transparent 50%), radial-gradient(at 10% 29%, hsla(256, 96%, 41%, 0.1) 0px, transparent 50%), radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 0.1) 0px, transparent 50%), radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 0.1) 0px, transparent 50%), radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 0.1) 0px, transparent 50%);
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
    opacity: .5; 
}
section {
    position: relative;
    z-index: 1;
}

body {
    background-color: var(--bg-color);
    font-family: 'Inter', sans-serif;
    color: #e0e0e0;
}

.glass-card {
    background: var(--card-bg);
    border: 1px solid var(--accent-color);
    border-radius: 12px;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

    .glass-card:hover {
        border-color: #555;
        transform: translateY(-5px);
    }

.btn-primary {
    background-color: #fff;
    border: none;
    color: #000;
}

    .btn-primary:hover {
        background-color: #ccc;
        color: #000;
    }

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}
.hero-bg {
    background-color: var(--color-lithium-0);
    background-image: radial-gradient(at 27% 37%, hsla(215, 98%, 42%, 0.1) 0px, transparent 50%), radial-gradient(at 97% 21%, hsla(135, 98%, 42%, 0.1) 0px, transparent 50%), radial-gradient(at 52% 99%, hsla(355, 98%, 42%, 0.1) 0px, transparent 50%), radial-gradient(at 10% 29%, hsla(256, 96%, 41%, 0.1) 0px, transparent 50%), radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 0.1) 0px, transparent 50%), radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 0.1) 0px, transparent 50%), radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 0.1) 0px, transparent 50%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: .2;
}
